$bg-color: #1d1d1f;
$color-hover:red;
$color-hover-aside:rgb(45, 44, 44) ;
$color-text-aside:#737373;


@mixin flex-box ($justify:center, $aling:center){
    display: flex;
    justify-content: $justify;
    align-items:$aling;
}
@mixin fontTitle{
    font-family: "Cinzel", serif;
}
@mixin fontText{
    font-family: "Playfair Display", serif;
}
@mixin fontTextSecundary{
    font-family:  "Roboto", serif;
}

@mixin Celular{
    @media screen and (max-width:39rem) {@content};
}

@mixin tablet{
    @media screen and (max-width:768px) {@content};
}

