
html{
    font-size: 62.5%;
    scroll-snap-type: y mandatory;
    overscroll-behavior-y: none;
}
*{
    box-sizing: border-box;
}
body{
    font-size: 16px; /* 1rem = 10px*/                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               
    //background-color: #0f172a;
    box-sizing: border-box;
    height: 100vh;
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
img{
    max-width: 100%;
}

.aside-left{
    //background-color: grey;
    overflow-y: auto;
    grid-area:  1 / 1 / 6 / 2;
    border-radius: 2rem;
    color: #fff;
    border: 1px solid grey;
    //@include flex-box(start, start);
    flex-direction: column;
    scrollbar-width: none;     
    -ms-overflow-style: none;
    @include tablet{
        width: 15rem;
    }
    @include Celular{
        display: none;
    }
   

    & .top{
        background-color: $bg-color;
        height: 4.5rem;
        width: 100%;
        border-radius: 2rem 2rem 0 0;
        position:sticky;
        top: 0px;
        z-index: 2;
        border-bottom: 1px solid grey;
    }

    & .button{
        

        & .button-div{
            //background-color: red;
            height: 4.5rem;
            width: 14.7%;
            border-radius:0rem 0rem 2rem 2rem;
            padding-left: 1rem;
            position: absolute;
            z-index: 2;
            bottom: 1px;
            cursor: pointer;
            background: rgba(94, 88, 88, 0.25);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(5.1px);
            -webkit-backdrop-filter: blur(5.1px);
            border: 1px solid rgba(94, 88, 88, 0.3);
            @include flex-box(start,center);
            gap: 1rem;
            }

            & img{
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
            }

    }

     & .sects{
        padding: .5rem;
            & .sects-p{
                color: $color-text-aside;
                margin-top: 2rem;
                font-size: 1.5rem;
                margin-left: 1rem;
            }
        }

}

.min-sections{
    width: 100%;
    height: 3rem;
    //background-color: #71717a;
    @include flex-box(start,center);
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    &:hover{
        background-color: $color-hover-aside;
        color: $color-hover;

    }
    

    & div{
        @include flex-box(center,center);
        margin-left: 1rem;

        & img{
            width: 2rem;
            height: 2rem;
            margin-right: .5rem;
        }

        & p{
            font-weight: bold;
            font-size: 1.3rem;
        }
    }
        
}

header{
    //background-color: grey;
    //padding: 1rem;
    grid-area: 1 / 2 / 6 / 6; 
    color: #fff;
    overflow: auto;

    & .section-top-header{
        @include flex-box(space-between,center);
        border-bottom: .5px solid grey;
        padding-bottom: .5rem;
        padding-top: .5rem;
        position: fixed;
        width: 85%;
        background-color: $bg-color;
        z-index: 2;
        @include tablet{
            @include flex-box(start,center);
            gap: 1rem;
        }
        @include Celular{
            width: 100%;;
        }

        & input{
            width: 45rem;
            height: 3.5rem;
            border-radius: 2rem;
            border: 1px solid grey;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            padding: 1rem;
            font-weight: bold;
            background-color: $bg-color;
            color: #fff;
            &:focus{
                outline: 1px solid $color-hover;
                transition: ease-in-out .5s;
                border: none;
            }
            @include tablet{
                width: 38rem;

            }
        }

        & .section-top-header-links{
            @include flex-box(center,center);
            gap: 1rem;
            border: 1px solid grey;
            border-radius: 2rem;
            & span{
                color: #fff;
                text-decoration: none;
                padding: 1rem;
                font-size: 1.4rem;
                cursor: pointer;
                &:hover{
                    background-color: gray;
                    border-radius: 2rem;
                }
            }
        }
    }

    & .header-p{
            margin-top: 2rem;
            padding-left: 2rem;
            font-weight: bold;
            font-size: 1.7rem;
        }
    
        & .header-p-1{
            margin-top: 6.5rem;
        }

    & .section-top-recientes{
       //background-color: red;
        //height: 3rem;
        margin-top: 1rem;
        @include flex-box(start,center);
        overflow-x: auto;
        scrollbar-width: none;     
        -ms-overflow-style: none;
    }    

    & .box-song{
        //height: 4rem;
        //background-color: blue
        margin-left: 2rem;
        @include flex-box(start,center);

        & img{
            width: 5rem;
            height: 5rem;
            border-radius: 8px;
        }

        & .box-song-content{
            @include flex-box(space-between, center);
            background-color: rgb(84, 83, 83);
            gap: 1rem;
            padding: 1rem;
            width: 30rem;
            border-radius: 1rem;

            & p:first-child{
                text-transform: uppercase;
            }
        }

        & .box-song-text{
            @include flex-box(center,start);
            flex-direction: column;
            gap:2px;
        }

        & .box-song-btn{
            background-color: transparent;
            color: #fff;
            border: none;
            cursor: pointer;
            font-size: 2rem;
            transition: ease-in-out .3s;
            &:hover{
                color: $color-hover;
                transition: ease-in-out .3s;
            }
        }
    }

    & .section-gen{
        padding: 2rem;
        @include flex-box(start,center);
        gap: 1rem;
        margin-bottom: -4rem;

         & .cards-gen{
            @include tablet{
                 &:last-child{
                display: none;
            }
            &:nth-child(4){
                display: none;
            }
        }
        @include Celular{
            &:nth-child(3){
                display: none;
            }
        }

            & img{
                width: 25rem;
                height: 14rem;
                z-index: -1;
                border-radius: 2rem;
                transition: ease-in-out .3s;
                 cursor: pointer;
                 &:hover{
                    opacity: .7;
                    transition: ease-in-out .3s;
                 }
            }

            & p{
                position: relative;
                top: -4.5rem;
                left: 1rem;
                font-size: 1.8rem;
                font-weight: bold;
            }
        }
    }
}

.App{
    background-color: $bg-color;
    //padding: 1rem;
    height: 100vh;
    display: grid;
    grid-template-columns: .7fr repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    //gap: 1rem;
    @include tablet{
    grid-template-columns: .2fr repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    @include Celular{
        grid-template-columns: 0fr repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
}

.library{
    //background-color: grey;
    grid-area: 1 / 2 / 6 / 6; 
    color: #fff;
    padding: 2rem;
    margin-top: 5rem;

    & .library-title{
        font-weight: bold;
        font-size: 1.7rem;
        margin-bottom: 1rem;
    }

    & .library-content{
        @include flex-box(start,center);
        gap: 2rem;
        overflow: auto;
        //background-color: red;
        margin-top: 2rem;
        
        .library-content-songs{
            //background-color: blue;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 2rem;
            @include Celular{
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(5, 1fr);
            }
        }
    }

    
    
}

.song-link{
        color: white;
        text-decoration: none;
    }

.song-detail{
    //background-color: grey;
    color: #fff;
    padding: 5rem;
    margin-top: 0;
    gap: 1rem;
    height: 100vh;
    grid-area: 1 / 1 / 6 / 6;
   display: flex;
   justify-content: center;
   flex-direction: column;
    gap: 15px;
    height: 100vh;
    width: 100%;
    justify-content: flex-start;
    overflow: auto;

    & .song-detail-title{
        font-weight: bold;
        font-size: 2rem;
    }
    .song-detail-artist{
        font-weight: bold;
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .song-detail-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        margin-top: 2rem;
       
            @include Celular{
                grid-template-columns: 1fr;
            }
    }

    .album-info{
        display: flex;
        flex-direction: column;
        width: 100%;

    }
    .span{
           color: $color-hover;
        }
    
    .song-detail-content-songs{
        padding: 1.5rem;
        background-color: $color-hover-aside;
        border-radius: 5rem;
        width: 100%;
        transition: ease-in-out .1s;
         cursor: pointer;
        &:hover{
            background-color: grey;
            color: #fff;
            transition: ease-in-out .1s;
        }
    }
    .song-detail-img{
        width: 100%;
        height: auto;
        border-radius: 10px;
    }
    .album-header{
        width: 50rem;
        margin-left: 1rem;
       // background-color: red;
        justify-content: center;
        display: flex;
        flex-direction: row;
        gap: 2rem;
        padding-left: 8rem;


    }
    .song-detail-container{
        display: flex;
    }

    .song-detail-icon{
        width: 1.5rem;
        height: 1.5rem;
        margin-right: .5rem;
    }
    .song-detail-button-container{
        margin-top: 14rem;
        display: flex;
        gap: 1rem;
    }
    .song-detail-button{
            background-color:$color-hover-aside;
            padding: 1rem;
            width: 15rem;
            border-radius: 20px;
            color: #fff;
            border: none;
            cursor: pointer;
            font-size: 1.5rem;
            font-weight: bold;
            transition: ease-in-out .1s;
            &:hover{
                background-color: $color-hover;
            }

    }
}

